<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044800811818-i7l6fga8vjuab0bbh9gu3qnu3bk0v6u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044800811818-i7l6fga8vjuab0bbh9gu3qnu3bk0v6u8</string>
	<key>API_KEY</key>
	<string>AIzaSyAyLd82Y4dFDkpuvZhNsC0wTJ06Re8nm2c</string>
	<key>GCM_SENDER_ID</key>
	<string>1044800811818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikanalytics.followersapp</string>
	<key>PROJECT_ID</key>
	<string>anal-2-47b04</string>
	<key>STORAGE_BUCKET</key>
	<string>anal-2-47b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044800811818:ios:df58029da288aa161a2453</string>
	<key>DATABASE_URL</key>
	<string>https://anal-2-47b04.firebaseio.com</string>
</dict>
</plist>